In [ ]:
# Arthimetic Operator

print(5/2) # floor division
print(11//5) # integer division convert answer into int , ignore after (.) parts
print(5%2) # modulus Division, return remainer
print(5**2) # power of

2.5
2
1
25

In [ ]:
# Relational Operator
print(4>5)
print(4<5)
print(4>=4)
print(4<=4)
print(4==4)
print(4!=4)

False
True
True
True
True
False

In [ ]:
# Logical Operators
# AND OR NOT
print(1 and 0) # gives 0
print(1 or 0) # gives 1
print(not 1) # output 0 (false)

0
1
False

In [ ]:
# Bitwise Operators ( works on binary system )
print(2 & 3) # bitwise and operators
print(2 | 3) # bitwise or operator
print(2 ^ 3) # bitwise xor operator
print(~3) # bitwise not (its convert o to one and one to 0)
print(4 >> 2) # bitwise left operator
print(5 << 2) # bitwise right operator

2
3
1
-4
1
20

In [ ]:
# Assignment operator
a = 2
a += 3 # a = a + 3
# a /= 2
# a *= 5
print(a)

In [ ]:
# this program add all unit, one and tens of input
number = int(input('Enter a three digits number'))

a = number % 10

number = number // 10

b = number % 10

number = number // 10

c = number % 10

print(a+b+c)

Enter a three digits number678
21

In [ ]:
# if / else usage cases
email = input('Enter your email')
password = input('Enter your password')

if email == 'hawks@gmail.com' and password == '1234':
  print('Welcome')
elif email == 'hawks@gmail.com' and password != '1234':
  print('Incorrect Password')
  password = input('Enter passowrd again')
  if password == '1234':
    print('welcome Finaly')
  else:
    print('Invalid password')
elif email != 'hawks@gmail.com' and password == '1234':
  print('Incorrect Email')
  email = input('Enter email agian')
  if email == 'hawks@gmail.com':
    print('Welcome Finaly')
  else:
    print('Invalid Email')
else:
  print('Not Correct')

Enter your emailhaek
Enter your password1234
Incorrect Email
Enter email agianhawks@gmail.com
Welcome Finaly

In [ ]:
# check greates number among three
a = int(input('Enter first number'))
b = int(input('Enter second number'))
c = int (input('Enter third number'))

if a > b and a > c:
  print('greater number is :', a)

elif b > c and b > a :
  print('greater number is :', b)

else:
  print('greater number is :', c)

Enter first number888
Enter second number23
Enter third number780
greater number is : 888

In [ ]:
# operator selection by user
fnum = int(input('Enter first number'))
snum = int(input('Enter second number'))
op = input('Enter an operator')

if op == '+':
  print(fnum + snum)

elif op == '-':
  print(fnum - snum)

elif op == '*':
  print(fnum * snum)

else:
  print(fnum / snum)

Enter first number10
Enter second number2
Enter an operator
5.0

In [ ]:
# Modules in python ie Math, random,
import math
#math.factorial(3)
math.floor(4.5)
math.ceil(4.5)
#math.sqrt(16)

5

In [ ]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
import datetime
print(datetime.datetime.now())

2025-04-03 21:46:28.721618

In [ ]:
help('module')

No Python documentation found for 'module'.
Use help() to get the interactive help utility.
Use help(str) for help on the str class.

# Loops in Python

In [ ]:
number = int(input('Enter a Number'))
i = 1
while i < 11:
  print(number, '*', i , '=', number * i)
  i += 1

Enter a Number11
11 * 1 = 11
11 * 2 = 22
11 * 3 = 33
11 * 4 = 44
11 * 5 = 55
11 * 6 = 66
11 * 7 = 77
11 * 8 = 88
11 * 9 = 99
11 * 10 = 110

In [ ]:
# while loop with else
x = 1
while x <= 3:
  print(x)
  x +=1
else:
  print('Limit crossed')

1
2
3
Limit crossed

In [ ]:
# Guessing Game
import random
jackpot = random.randint(1, 100)

guess = int(input('Guess a Number'))
counter = 1
while guess != jackpot:
  if guess < jackpot:
    print('Guess Higher')
  else:
    print('Guess Lower')
  guess = int(input('Guess a Number'))
  counter += 1
else:
  print('Correct Guess')
  print('Attempts : ', counter)

Guess a Number33
Guess Higher
Guess a Number66
Guess Lower
Guess a Number55
Guess Lower
Guess a Number45
Guess Lower
Guess a Number41
Guess Lower
Guess a Number36
Guess Lower
Guess a Number35
Correct Guess
Attempts :  7

In [ ]:
# for loop in python is very flexible and powerful. It can be applied on range, string, list, dictionary, tuples and sets datatype
for i in 'Lahore':
  print(i)

L
a
h
o
r
e

In [ ]:
for x in {1:'ant', 2:'fly', 3:'bug'}:
  print(x)

1
2
3

In [ ]:
curr_pop = 10000
for i in range(10, 0, -1):
  print(i, curr_pop)
  curr_pop = curr_pop/1.1

10 10000
9 9090.90909090909
8 8264.462809917353
7 7513.148009015775
6 6830.134553650703
5 6209.213230591548
4 5644.739300537771
3 5131.5811823070635
2 4665.07380209733
1 4240.976183724845

In [ ]:
# factorial calculation 1/1! + 2/2! + 3/3! + ......
n = int(input('Enter a number'))
result =0
fact = 1
for i in range(1, n+1):
  fact = fact * i
  result = result + i/fact
print(result)

Enter a number5
2.708333333333333

In [ ]:
# print rows of *
rows = int(input('Enter number of rows'))
for i in range(1, rows + 1):
  print('*' * i)

Enter number of rows4
*
**
***
****

In [ ]:
# different method
rows = int(input('Enter number of rows'))
for i in range(1, rows + 1):
  for j in range(1, i + 1):
    print('*', end='')
  print()

Enter number of rows6
*
**
***
****
*****
******

In [ ]:
# number with increasing and decreasing order
rows = int(input('Enter number of rows'))
for i in range(1, rows+1):
  for j in range(1, i+1):
    print(j, end='')
  for k in range(i-1, 0, -1):
    print(k, end='')
  print()

Enter number of rows4
1
121
12321
1234321

In [ ]:
# print prime numbers
lower = int(input('Enter lower range : '))
upper = int(input('Enter upper range : '))

for i in range(lower, upper + 1):
  for j in range(2, i):
    if i % j == 0:
      break
  else:
    print(i)

Enter lower range : 1
Enter upper range : 25
1
2
3
5
7
11
13
17
19
23

In [ ]:
# string : you can apply slicing on strings + as well - slicing with step size
# strings are immutable after creation
# we can use del to delete string
# we can compare lexiographical(words occuring in dictionary it mean words come in sequecne in dictionary) comparison in string
a = 'Hello World'
a[3:9]
a[1:11]

'ello World'

In [ ]:
a[2:]

'llo World'

In [ ]:
a[1:13:2] # slicing with step size

'el ol'

In [ ]:
print(a[-8:-1]) # negative slicing

lo Worl

In [ ]:
'rawat' > 'Rawat' # comparison according to acci chart
#(acci values of characters , in acci chart small character have higher values than big characeters)

True

In [ ]:
#